<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>kumo</id>
<name>某理念崩坏的采集插件</name>
<url>//jq.qq.com/?_wv=1027&amp;k=555hND5</url>
<note>实现一个功能，和设计一个功能，终究是不一样吧</note>
<description>置百丈玄冰而崩裂，掷须臾池水而漂摇。</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>沉冰浮水</name>
  <email>wdssmq@qq.com</email>
  <url>https://www.wdssmq.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151935</adapted>
<version>1.0.1</version>
<pubdate>2019-05-24</pubdate>
<modified>2020-11-23</modified>
<price>0</price>
<phpver>7.1</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>